# 👉 Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# 👉 Node
/node_modules
npm-debug.log*
yarn-error.log*

# 👉 IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# 👉 Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 👉 Angular cache
/.angular/cache

# 👉 Test / Coverage
/coverage
testem.log
/typings

# 👉 Cypress (se estiver usando)
/cypress/screenshots/
/cypress/videos/

# 👉 Miscellaneous
/connect.lock
/libpeerconnection.log

# 👉 System files
.DS_Store
Thumbs.db
